/* Section 1 */
.section-one {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.header {
    display: flex;
}

/* flex auto */
.logo, .header, .header-links, {
    flex: 0 0 auto;
}

.logo {
    font-family: "Roboto", sans-serif;
}