body {
    font-family: "Roboto", sans-serif;
    margin: 0px;
}

div {
    margin: 0px;
}

/* Will need to add padding to the left and right for the sections later on */
/* Section 1 */
.section-one {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.header {
    display: flex;
}

/* flex auto */
.logo, .header, .header-links, a, .learn-more {
    flex: 0 0 auto;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.header-links {
    margin-left: auto;
}

a, .intro-description {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.intro-heading {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

img {
    width: 400px;
    height: auto;
    flex: 0 0 auto;
}

.intro, .intro-left {
    display: flex;
}

.intro-left {
    flex-direction: column;
}

.learn-more {
    align-self: flex-start;
}